body {
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: fit-content;
  border: 1px solid #000;
}

.cell {
  content: "";
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win {
  background-color: lightseagreen;
  color: #fff;
}
